<!DOCTYPE html>
<html>
<head>
  <title>MutantFunding</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%=link_to 'Home', root_path %> |
<%=link_to 'See All Listings', listings_path %>

<% if flash[:message] %>
  <div style="padding: 3px 3px 3px 3px; background-color: yellow; color: black; margin: 10px 0 10px 0;">
    <%= flash[:message] %>
  </div>
<% end %>

<%= yield %>

</body>
</html>
